<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" 
         id="WebApp_ID" 
         version="6.0">
   
   <display-name>ExercicioAula</display-name>
   
   <welcome-file-list>
      <welcome-file>index.html</welcome-file>
      <welcome-file>index.jsp</welcome-file>
      <welcome-file>index.htm</welcome-file>
      <welcome-file>default.html</welcome-file>
      <welcome-file>default.jsp</welcome-file>
      <welcome-file>default.htm</welcome-file>
   </welcome-file-list>
   
   <servlet>
      <display-name>Exercicio01</display-name>
      <servlet-name>Exercicio01</servlet-name>
      <servlet-class>br.edu.ifsp.tads.dswl6.Exercicio01</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>Exercicio01</servlet-name>
      <url-pattern>/Exercicio01</url-pattern>
   </servlet-mapping>

   <servlet>
      <display-name>Exercicio02</display-name>
      <servlet-name>Exercicio02</servlet-name>
      <servlet-class>br.edu.ifsp.tads.dswl6.Exercicio02</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>Exercicio02</servlet-name>
      <url-pattern>/Exercicio02</url-pattern>
   </servlet-mapping>
   
   <servlet>
      <display-name>Exercicio03</display-name>
      <servlet-name>Exercicio03</servlet-name>
      <servlet-class>br.edu.ifsp.tads.dswl6.Exercicio03</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>Exercicio03</servlet-name>
      <url-pattern>/Exercicio03</url-pattern>
   </servlet-mapping>
   
   <servlet>
      <display-name>Exercicio04</display-name>
      <servlet-name>Exercicio04</servlet-name>
      <servlet-class>br.edu.ifsp.tads.dswl6.Exercicio04</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>Exercicio04</servlet-name>
      <url-pattern>/Exercicio04</url-pattern>
   </servlet-mapping>
   
   <servlet>
      <display-name>Exercicio05</display-name>
      <servlet-name>Exercicio05</servlet-name>
      <servlet-class>br.edu.ifsp.tads.dswl6.Exercicio05</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>Exercicio05</servlet-name>
      <url-pattern>/Exercicio05</url-pattern>
   </servlet-mapping>
   
   <servlet>
      <display-name>Exercicio06</display-name>
      <servlet-name>Exercicio06</servlet-name>
      <servlet-class>br.edu.ifsp.tads.dswl6.Exercicio06</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>Exercicio06</servlet-name>
      <url-pattern>/comentarios</url-pattern>
   </servlet-mapping>
   
   <servlet>
      <display-name>Exercicio07</display-name>
      <servlet-name>Exercicio07</servlet-name>
      <servlet-class>br.edu.ifsp.tads.dswl6.Exercicio07</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>Exercicio07</servlet-name>
      <url-pattern>/Exercicio07/acesso</url-pattern>
   </servlet-mapping>
   
   <servlet>
      <display-name>Exercicio08</display-name>
      <servlet-name>Exercicio08</servlet-name>
      <servlet-class>br.edu.ifsp.tads.dswl6.Exercicio08</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>Exercicio08</servlet-name>
      <url-pattern>/Exercicio08/cadastroProduto</url-pattern>
   </servlet-mapping>
   
   <servlet>
      <display-name>Exercicio09</display-name>
      <servlet-name>Exercicio09</servlet-name>
      <servlet-class>br.edu.ifsp.tads.dswl6.Exercicio09</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>Exercicio09</servlet-name>
      <url-pattern>/Exercicio09/removeNome</url-pattern>
   </servlet-mapping>
   
   <servlet>
      <display-name>Exercicio10</display-name>
      <servlet-name>Exercicio10</servlet-name>
      <servlet-class>br.edu.ifsp.tads.dswl6.Exercicio10</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>Exercicio10</servlet-name>
      <url-pattern>/Exercicio10/todo</url-pattern>
   </servlet-mapping>
   
</web-app>
